
.sh{
  &:before {
    background-image: url("../theme/Flatabulous/icon/actions/symbolic/system-shutdown-symbolic.svg");
  }
}

.flatabulous{
  .icon-desktop{
    background-image: url("../theme/Flatabulous/icon/apps/scalable/preferences-desktop-display.svg");
  }
  
  .icon-education{
    background-image: url("../theme/Flatabulous/icon/mimetypes/scalable/application-document.svg");
  }
  
  .icon-organization{
    background-image: url("../theme/Flatabulous/icon/apps/scalable/bkchem.svg");
  }
  .icon-project{
    background-image: url("../theme/Flatabulous/icon/apps/scalable/github.svg");
  }

  .icon-myself{
    background-image: url("../theme/Flatabulous/icon/apps/scalable/gdevilspie.png");
  }

  .icon-opt-close{
    background-image: url("../theme/Flatabulous/unity/close_focused_prelight.png");
    &:hover{
      background-image: url("../theme/Flatabulous/unity/close_focused_pressed.png");
    }
  }
  .icon-opt-min{
    background-image: url("../theme/Flatabulous/unity/minimize_focused_prelight.png");
    &:hover{
      background-image: url("../theme/Flatabulous/unity/minimize_focused_pressed.png");
    }
  }
  .icon-opt-max{
    background-image: url("../theme/Flatabulous/unity/maximize_focused_prelight.png");
    &:hover{
      background-image: url("../theme/Flatabulous/unity/maximize_focused_pressed.png");
    }
  }
}