.pc{
  width: 100%;
  height: 100%;
}
.desktop{
  width: 100%;
  height: 100%;
}
.blackBox{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  animation: closing 1s;
  background: #000;
  z-index: 1001;
}
.openBtn{
  width: 20px;
  height: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  cursor: pointer;
  color: white;
  &:before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
  }
}
@keyframes closing {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@menuHeight:25px;
@navWidth:57px;

.menu_top{
  width: 100%;
  height: @menuHeight;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .menu-top-box{
    position: absolute;
    right: 5px;
    font-size: 14px;
    width: auto;
    line-height: @menuHeight;
    .topBtn{
      float: right;
      margin: 0 5px;
      position: relative;
      cursor: pointer;
      .menu-icon{
        position: relative;
        padding-left: @menuHeight;
        height: @menuHeight;
        padding-top: 0;
        margin: 0;
        display: inline-block;
        &:before{
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          width: @menuHeight;
          height: @menuHeight;
          display: inline-block;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      .menu-title{
        display: inline-block;
        height: @menuHeight;
        line-height: @menuHeight;
        vertical-align: top;
      }
    }
  }
}

.menu-list-box{
  position: absolute;
  top: @menuHeight;
  width: 200px;
  right: -5px;
  .menuList {
    padding: 0 25px;
  }
}
.nav_left{
  width: @navWidth;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
}