.flatabulous{
  background: url("../theme/Flatabulous/bg.jpg");
  background-size:100%;
  color: white;

  @borderColor: #2d2d2d;
  @borderShadow:0 0 10px 2px #000;

  .border-shadow{
    box-shadow:@borderShadow;
  }

  .menu_top{
    color: #ccc;
    background: @borderColor;
  }
  .menu-list-box{
    background: @borderColor;
    border:2px solid @borderColor;
    .menuList{
      cursor: pointer;
      &:hover{
        background: #666;
      }
    }
  }
  .nav_left{
    background: rgba(20,0,100,0.5);
  }

  .window-box{
    border: @borderColor 1px solid;
    .window-opt{
      background: @borderColor;
    }
    .window-body{
      background: rgba(0,0,0,0.65);
    }
  }
}
